<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.5.0"
        integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% include 'partials/style.html' %}
  
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/hyperscript.org@0.8.2"></script>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light fill">
        <a class="navbar-brand" href="" href="" hx-get="/" hx-target="body">
          <img src="https://res.cloudinary.com/dhspzhgjf/image/upload/t_media_lib_thumb/v1638806079/Major_Mon__2_-removebg-preview_hjjmpj.png" width="100" height="100">
        </a>
        <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse"  id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto ">
            <li class="nav-item ">
              <a href="" hx-get="/" hx-target="body">Home </a>
            </li>

            <li class="nav-item">
              <a href="" hx-get="{% url 'remainder' %}" hx-target="#container1">Set Remainder</a>
            </li>

            
            
            <li class="nav-item">
              <a href="" hx-get="{% url 'history' %}" hx-target="#container1" >History</a>
            </li>
            
          </ul>
          
          <div class="nav-item user" >
            <p href="#">{{request.user}}</p>
           
          </div>
          <div class="nav-item " >
            <a href="{% url 'logout' %}"  class="btn btn btn-outline-secondary my-2 my-sm-0">Log Out</a>
           
          </div>
         
          
        </div>
        
      </nav>
      {% if request.user.username == "sumit" %}
           <h5 class="mt-2"  style="text-align: center; font-weight: bold;color: red;"> 
            <u>You are not logged in. Showing default data </u>
          </h5>

        {% endif %}
        

      <div id="container1" style="max-width: 100%;">
    {% block content %}
    {% endblock %}
  </div>

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
</body>
</html>
